<div id="testx" #content class="text-center">
  <div id="inner">
  <div *ngFor="let activity of activity">
    <div class="container" style="width: 1000px;">

      <div class="custom-row justify-content-center">
      <img src="../../assets/images/SizaBanner.PNG" class="banner" />
      <div class="row justify-content-center">
      <h4>
        <p>{{ activity?.title }}</p>
      </h4>
      </div>
      <div class="row justify-content-center">
        <div class="row justify-content-center">
          <img src="{{activity.image}}" image-resizing height="128" width="128" />
        </div>

        <div class="custom-row grid-row">
          <img src="{{activity.image}}" image-resizing height="128" width="128" />
          <img src="{{activity.image}}" image-resizing height="128" width="128" />
          <img src="{{activity.image}}" image-resizing height="128" width="128" />
        </div>
      </div>
      </div>
      <div class="row justify-content-center main-content">
        <div class="col-sm-4">

          <!-- Goal -->
          <div *ngIf="activity?.goal !== undefined">  
            <h5>Doel</h5> 
            <p >{{ activity?.goal }}</p>
          </div>

          <!-- Material -->
          <div *ngIf="activity?.material !== undefined">  
            <h5>Materiaal</h5> 
            <p>{{ activity?.material }}</p>
          </div>

          <!-- Activity -->
          <div *ngIf="activity?.activity !== undefined">  
            <h5>Activiteit</h5> 
            <p>{{ activity?.activity }}</p>
          </div>
        </div>
        <div class="col-sm-4">

          <!-- Setup -->
          <div *ngIf="activity?.setUp !== undefined || activity?.setUpImage !== undefined">  
            <h5>Let op!</h5> 
            <p>{{ activity?.setUp }}</p>
          </div>
          
          <!-- PointsOfAttention -->
          <div *ngIf="activity?.pointsForAttention !== undefined">  
            <h5>Let op!</h5> 
            <p>{{ activity?.pointsForAttention }}</p>
          </div>

          <!-- TooEasy -->
          <div *ngIf="activity?.tooEasy !== undefined">  
            <h5>Te makkelijk?</h5> 
            <p>{{ activity?.tooEasy }}</p>
          </div>

          <!-- TooHard -->
          <div *ngIf="activity?.tooHard !== undefined">  
            <h5>Te moeilijk?</h5> 
            <p>{{ activity?.tooHard }}</p>
          </div>
        </div>
      </div>
    </div>
    </div>  
</div>

<button (click)="printScreen()" > Export to PDF </button>
<br>
<app-comment-section></app-comment-section>