html, body {
    width:  100%;
    height: 100%;
    margin: 0;
  }

p {
    color: #253a78;
    text-align: left;
    
}

h1 {
    color: #101e4a;
}

h4 {
    color: #253a78;
}

h5 {
    color: #101e4a;
    text-align: left;
    font-weight: 600;
}

img.banner { 
	width: 100%;
	height: 180px;
}

img { 
    max-width: 100%;
    max-height: 100%;
}
    
.custom-row
{
    display: block;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.main-content
{
    margin-top: 30px;
}

.grid-row
{
    display: grid;
}

@media print {
    body, html, #wrapper {
        width: 100% !important; 
    }
}

.img-side
{
    margin: 5px;
}

.f-container
{
    min-width: 320px;
    border-right: 3px solid #e23fad;
}

.s-container
{
    margin-left: 10px;
}

.pdf-row{
    float: left;
    position: relative;
    margin-left: 200px;
}

.bgwhite{
    background-color: white;
    padding-bottom: 10px;
    margin-top: 20px;
}