<div class="row" style="margin-left: 200px; margin-top: 30px;">
  <button mat-button (click)="onGoBack()">
      <mat-icon>keyboard_arrow_left</mat-icon>
      Terug
  </button> 
</div>

<div id="testx" #content class="text-center">
  <div id="outer">
  <div id="inner">
  <div *ngFor="let activity of activity">
    <div class="container bgwhite" style="width: 1000px;">

      <div class="custom-row justify-content-center">
     <div id="wrapper">
        <img src="../../assets/images/SizaBanner.PNG" id="banner" class="banner" [ngClass]="printing === true ? 'printing' : 'normal'" />
      </div>
        <div class="row justify-content-center" id="main_title">
      <h4>
        <p [innerHTML]="activity?.title"></p>
      </h4>
      </div>
      <div class="row justify-content-center">
        <div class="row justify-content-center">
          <img src="{{activity.image}}" image-resizing height="256" width="256" id="main_image"/>
        </div>
        <div id="test">
        <div class="custom-row grid-row" id='customimgs'>
          <img *ngIf="activity?.wheelchair === true" src="../../assets/images/wheelchair.png" image-resizing height="70" width="70" class="img-side" />
          <img src="players_{{activity?.players}}" image-resizing height="70" width="70" class="img-side" />
          <img src="min_{{activity?.image}}" image-resizing height="70" width="70" class="img-side"/>
        </div>
      </div>
      </div>
      </div>
      <div class="row justify-content-center main-content" id="main_content">
        <div class="col-sm-4 f-container">

          <!-- Goal -->
          <div *ngIf="activity?.goal !== undefined">  
            <h5>Doel</h5> 
            <p [innerHTML]="activity?.goal"></p>
          </div>

          <!-- Material -->
          <div *ngIf="activity?.material !== undefined">  
            <h5>Materiaal</h5> 
            <p [innerHTML]="activity?.material"></p>
          </div>

          <!-- Activity -->
          <div *ngIf="activity?.activity !== undefined">  
            <h5>Activiteit</h5> 
            <p [innerHTML]="activity?.activity"></p>
          </div>
        </div>
        <div class="col-sm-4 s-container">

          <!-- Setup -->
          <div *ngIf="activity?.setUp !== undefined || activity?.setUpImage !== undefined">  
            <h5>Let op!</h5> 
            <p [innerHTML]="activity?.setUp"></p>
          </div>
          
          <!-- PointsOfAttention -->
          <div *ngIf="activity?.pointsForAttention !== undefined">  
            <h5>Let op!</h5> 
            <p [innerHTML]="activity?.pointsForAttention"></p>
          </div>

          <!-- TooEasy -->
          <div *ngIf="activity?.tooEasy !== undefined">  
            <h5>Te makkelijk?</h5> 
            <p [innerHTML]="activity?.tooEasy"></p>
          </div>

          <!-- TooHard -->
          <div *ngIf="activity?.tooHard !== undefined">  
            <h5>Te moeilijk?</h5> 
            <p [innerHTML]="activity?.tooHard"></p>
          </div>
        </div>
        </div>
    </div>
    </div>  
</div>
</div>
<br/>
  <button (click)="printScreen();" class="btn-primary-size" mat-raised-button color="primary" type="submit"><mat-icon>picture_as_pdf</mat-icon>Export to PDF</button>
<br/><br/>
<app-comment-section></app-comment-section>