.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: grey;
    border-top: 4px #1bb4e3 solid;
    background-image: linear-gradient(to bottom, #0f3f91 0%, #1bb4e3 100%);
    text-align: left;
  }

  .content{
      color: white;
      line-height: 5px;
  }