.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #e9e8e8;
    border-top: 2px #e31b83 solid;
    /* background: linear-gradient(to bottom, #0f3f91 0%, #1bb4e3 100%); */
    text-align: left;
  }

  .content{
    color: #3e3737;
      line-height: 5px;
  }