<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<footer class="section footer-classic context-dark bg-image footer" style="background: #2d3246;">
        <div class="container">
          <div class="row row-30">
            <div class="col-md-4 col-xl-5">
              <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light" src="images/agency/logo-inverse-140x37.png" alt="" width="140" height="37" srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <!-- Rechten-->
                <p class="rights"><span>©  </span><span class="copyright-year">2020</span><span> </span><span>Sizasports</span><span>. </span><span>All Rights Reserved.</span></p>
              </div>
            </div>
            <div class="col-md-4">
              <h5>Contact</h5>
              <dl class="contact-list">
                <dt>adres:</dt>
                <dd>Siza afdeling beweging 's Koonings Jaght</dd>
              </dl>
              <dl class="contact-list">
                <dt>Postadres:</dt>
                <dd>Hartenkoning 7, 6816 TK Arnhem</dd>
              </dl>
              <dl class="contact-list">
                <dt>email:</dt>
                <dd><a href="mailto:#">beweegteam.skj@siza.nl</a></dd>
              </dl>
              <dl class="contact-list">
                <dt>phones:</dt>
                <dd><a href="tel:#">06 30 60 29 53</a>
                </dd>
              </dl>
            </div>
            <div class="col-md-4 col-xl-3">
              <h5>Links</h5>
              <ul class="nav-list">
                <li><a routerLink='/about'>Wij zijn wij</a></li>
                <li><a routerLink='/training'>BAF Training</a></li>
                <li><a routerLink='/poster'>Beweegposter</a></li>
                <li><a routerLink='/sizasports'>SizaSports</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row no-gutters social-container">
          <div class="col"><a class="social-inner" href="https://www.facebook.com/beweging.skooningsjaght"><span class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
          <div class="col"><a class="social-inner" href="http://www.instagram.com/beweegteam.skj"><span class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>
        </div>
      </footer>