.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #D9F1FC;
    background: #404040;
    text-align: left;
  }

  .content{
    color: white;
      line-height: 5px;
  }

  p{
    padding: 2px;
  }