<div class="back-wrapper">
    <button mat-button (click)="onGoBack()">
        <mat-icon>keyboard_arrow_left</mat-icon>
        Terug
    </button> 
</div>

<div class="d-flex justify-content-center align-items-center">  
    <h3>Categorie {{ headerTitle }}</h3>
  </div>
  <hr width="20%" />

  <div id="addQuestion">
      <form class="example-form" (ngSubmit)="onSaveCategory(f)" #f="ngForm">
        <div class="form-group">
          <mat-form-field class="example-full-width control-expand">
            <input
              name="Name"
              ngModel
              class="form-control"
              matInput
              placeholder="Naam"
              [(ngModel)]="formName"
              required
            />
          </mat-form-field>
        </div>
  
        <div class="form-group">
          <mat-form-field class="example-full-width control-expand">
            <textarea
              name="Image"
              ngModel
              class="form-control"
              matInput
              placeholder="Afbeelding"
              [(ngModel)]="formImage"
              #content="ngModel"
            ></textarea>
          </mat-form-field>
        </div>
  
        <div class="form-group">
          <mat-form-field>
            <mat-label>Parent</mat-label>
            <mat-select name="parent" ngModel class="form-control" [(ngModel)]="formParent">
              <mat-option *ngFor="let category of parentcategories" [value]="category._id">
                {{ category.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">
          Opslaan
        </button>
      </form>
  </div>
  