
<div class="overall">
<div class="mx-auto" >
    <div class="text-center">

      <div class="testing">
        <div *ngIf="editorGoal">
          <form [formGroup]="form">
            <angular-editor autofocus="true" id="editor" formControlName="goal" [config]="config" (ngModelChange)="onChange2($event)"></angular-editor>
          </form>
          <div class="btn-group row-fluid">
            <button type="button" (click)="closeEditor()" class="btn btn-secondary">Close</button>
            <button type="button" (click)="saveEditor()" class="btn btn-secondary">Save</button>
          </div>
        </div>
      </div>

      <img src="../../assets/images/SizaBanner.PNG" class="img"/>
      <br>  <br>  <br>  <br>  

      <div class="row">
        <div class="col-md-4 form-group text-center">
    
        </div>
        <div class="col-md-4 form-group text-center">
          <form [formGroup]="form">  
            <div class="form-group">
              <mat-form-field>
                <mat-label>Categorie</mat-label>
                <mat-select name="category" ngModel class="form" formControlName="category">
                  <mat-option *ngFor="let category of category" [value]="category._id">
                    {{ category.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <div (click)="editTitle()">
                <h1 [innerHTML]="form.value.title"></h1>
              </div>

              <div class = "container">
                <input #activityImage type = "file">
            </div>

            </div>
          </form> 
        </div>
        <div class="col-md-2 form-group text-center">
   
        <form [formGroup]="form">  
          <div class="form-group">
            <mat-form-field>
              <mat-label>Geschikt voor rolstoelen</mat-label>
              <mat-select name="parent" ngModel class="form-control" formControlName="wheelchair">
                <mat-option value="option1">Ja</mat-option>
                <mat-option value="option2">Nee</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <mat-label>Aantal personen</mat-label>
              <mat-select name="parent" ngModel class="form-control" formControlName="amountOfPeople">
                <mat-option value="option1">1+</mat-option>
                <mat-option value="option1">2+</mat-option>
                <mat-option value="option1">4+</mat-option>
                <mat-option value="option1">2-4</mat-option>
                <mat-option value="option2">2-8</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <mat-label>Tijdsduur</mat-label>
              <mat-select name="parent" ngModel class="form-control" formControlName="duration">
                <mat-option value="option1">5</mat-option>
                <mat-option value="option2">10</mat-option>
                <mat-option value="option2">15</mat-option>
                <mat-option value="option2">20</mat-option>
                <mat-option value="option2">30</mat-option>
                <mat-option value="option2">45</mat-option>
                <mat-option value="option2">60</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </form>

        </div>
    </div>
  </div>

  <br>  <br>  <br>  <br>  <br>  <br>  <br>  

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div  (click)="editGoal()">
                    <h5>
                      Doel
                  </h5> 
                    <div class="btn-group row-fluid">
                      <a [innerHTML]="form.value.goal"></a>
                    </div>
                  </div>
                 
                <div (click)="editMaterial()">
                  <h5>
                      Materiaal
                  </h5> 
                  <div class="btn-group row-fluid" >
                    <a [innerHTML]="form.value.material"></a>
                  </div>
                </div>
                
                <div  (click)="editActivity()"> 
                  <h5>
                      Activiteit <br>
                  </h5> 
                  <div class="btn-group row-fluid">
                    <a [innerHTML]="form.value.activity"></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div (click)="editSetup()">
                    <h5>
                        Hoe zet je het neer? <br>
                    </h5> 
                    <div class="btn-group row-fluid">
                      <a [innerHTML]="form.value.setUp"></a>
                    </div>
                  </div>
            

                  <img [src]="url" onerror="this.style.display='none'" height="200"> <br/>
                <div class = "container">
                  <input #setup type = "file" accept="image/*" (change)="onSelectFile($event)">
                </div>

                <div class="file-field">
                  <div class="z-depth-1-half mb-4">
                    <img src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg" class="img-fluid"
                      alt="example placeholder">
                  </div>
                  <div class="d-flex justify-content-center">
                    <div class="btn btn-mdb-color btn-rounded float-left">
                      <span>Choose file</span>
                      <input type="file">
                    </div>
                  </div>
                </div>
            
                
                  <div (click)="editPointsForAttention()">
                    <h5>
                      Let op! 
                    </h5> 
                    <div class="btn-group row-fluid" >
                      <a [innerHTML]="form.value.pointsForAttention"></a>
                    </div>
                  </div>
                  
                  <div (click)="editTooEasy()">
                    <h5>
                        Te makkelijk?
                    </h5> 
                    <div class="btn-group row-fluid" >
                      <a [innerHTML]="form.value.tooEasy"></a>
                    </div>
                  </div>
                    
                  <div (click)="editTooHard()">
                    <h5>
                        Te moeilijk?
                    </h5> 
                    <div class="btn-group row-fluid">
                      <a [innerHTML]="form.value.tooHard"></a>
                    </div>
                  </div>

            </div>
            <div class="fix">
                <div>
                  <div *ngIf="editorTitle">
                    <form [formGroup]="form">
                      <angular-editor autofocus="true" id="editor" formControlName="title" [config]="config" (ngModelChange)="onChange2($event)"></angular-editor>
                    </form>
                    <div class="btn-group row-fluid">
                      <button type="button" (click)="closeEditor()" class="btn btn-secondary">Close</button>
                      <button type="button" (click)="saveEditor()" class="btn btn-secondary">Save</button>
                    </div>
                </div>
            

        
                  <div *ngIf="editorMaterial">
                    <form [formGroup]="form">
                      <angular-editor autofocus="true" id="editor" formControlName="material" [config]="config" (ngModelChange)="onChange2($event)"></angular-editor>
                    </form>
                    <div class="btn-group row-fluid">
                      <button type="button" (click)="closeEditor()" class="btn btn-secondary">Close</button>
                      <button type="button" (click)="saveEditor()" class="btn btn-secondary">Save</button>
                    </div>
                  </div>
        
                  <div *ngIf="editorActivity">
                    <form [formGroup]="form">
                      <angular-editor autofocus="true" id="editor" formControlName="activity" [config]="config" (ngModelChange)="onChange2($event)"></angular-editor>
                    </form>
                    <div class="btn-group row-fluid">
                      <button type="button" (click)="closeEditor()" class="btn btn-secondary">Close</button>
                      <button type="button" (click)="saveEditor()" class="btn btn-secondary">Save</button>
                    </div>
                  </div>
        
                  <div *ngIf="editorSetup">
                    <form [formGroup]="form">
                      <angular-editor autofocus="true" id="editor" formControlName="setUp" [config]="config" (ngModelChange)="onChange2($event)"></angular-editor>
                    </form>
                    <div class="btn-group row-fluid">
                      <button type="button" (click)="closeEditor()" class="btn btn-secondary">Close</button>
                      <button type="button" (click)="saveEditor()" class="btn btn-secondary">Save</button>
                    </div>
                  </div>
        
                  <div *ngIf="editorPointsForAttention">
                    <form [formGroup]="form">
                      <angular-editor autofocus="true" id="editor" formControlName="pointsForAttention" [config]="config" (ngModelChange)="onChange2($event)"></angular-editor>
                    </form>
                    <div class="btn-group row-fluid">
                      <button type="button" (click)="closeEditor()" class="btn btn-secondary">Close</button>
                      <button type="button" (click)="saveEditor()" class="btn btn-secondary">Save</button>
                    </div>
                  </div>
        
                  <div *ngIf="editorTooHard">
                    <form [formGroup]="form">
                      <angular-editor autofocus="true" id="editor" formControlName="tooHard" [config]="config" (ngModelChange)="onChange2($event)"></angular-editor>
                    </form>
                    <div class="btn-group row-fluid">
                      <button type="button" (click)="closeEditor()" class="btn btn-secondary">Close</button>
                      <button type="button" (click)="saveEditor()" class="btn btn-secondary">Save</button>
                    </div>
                  </div>
        
                  <div *ngIf="editorTooEasy">
                    <form [formGroup]="form">
                      <angular-editor autofocus="true" id="editor" formControlName="tooEasy" [config]="config" (ngModelChange)="onChange2($event)"></angular-editor>
                    </form>
                    <div class="btn-group row-fluid">
                      <button type="button" (click)="closeEditor()" class="btn btn-secondary">Close</button>
                      <button type="button" (click)="saveEditor()" class="btn btn-secondary">Save</button>
                    </div>
                  </div>
        </div>


 

    </div>
  </div>
  <br>  <br>  <br>  <br>  
  <div class="text-center">
    <button type="button" (click)="saveEditor()" class="btn btn-secondary btn-lg">Save</button>
    <br>  <br>  <br>  <br>  
  </div>
</div>
