<mat-card class='border-blue' [ngClass]="isRoot === true ? 'hide' : ''">
    <mat-card-content>
        {{ name }}
    </mat-card-content>
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button >
          Bewerk
        </button>
        <button mat-button >
            Voeg toe
          </button>

        <button 
        mat-button 
        color="warn"
        >
            Verwijderen
          </button>
          </mat-card-actions>
      
</mat-card>