<app-banner [title]="title" [page]="page" ></app-banner>

<div class="wrapper_outer">
<div class="container">
<h1 class="mat-heading" >Wie zijn wij?</h1>
<br>
<p class="mat-subheading-2"><b>Wij zijn het beweegteam van Siza 's Koonings Jaght.
   Ons team bestaat uit bewegingsagogen en stagiaires.
   Samen bieden wij een uitgebreid beweegaanbod, waarbij we uitvoeren, behandelen, onderzoeken en ontwikkelen.
</b></p>
<br>
<h2 class="mat-title">Wat bieden wij?</h2>
<p class="mat-subheading-2"><b>Bewegingsrecreatie: </b>Plezier en ontspanning staan hier centraal. <br>
<b>Bewegingsactivering:</b> Het ervaren van bewegen staat centraal, het gaat hierbij om ontwikkeling te bewerkstelligen en om achteruitgang van het bewegen tegen te gaan.<br>
<b>Bewegingsonderwijs:</b> Hierbij staat het proces waarbij het uiteindelijke doel bereikt wordt centraal, (veelal) individueel gericht. <br>
<b>Gedragsregulatie:</b> Het komen tot gedragsverandering staat hierin centraal, d.mv. bewegen het gedrag beïnvloeden. Individueel en op aanvraag van arts of gedragsdeskundige. Apart of hoort dit bij gedragsregulatie.</p>

<br>
<h2 class="mat-title">Voorzieningen</h2>
<p class="mat-subheading-2">Binnen 's Koonings Jaght hebben we als beweegteam de beschikking over volgende voorzieningen. 
<br><b> Waarvan het zwembad, sporthal en fitness op aanvraag ook te huur zijn. Voor meer informatie of offerte aanvraag klik hier voor het contactformulier. </b>  </p> 


<p class="mat-subheading-2"><b>Zwembad</b>
<br> Op 's Koonings Jaght bevindt zich een zwembad. Met liften brancards en een watertemperatuur van 34*C is het zwembad voor iedereen toegankelijk. 
<br>Tevens is het zwembad op <u>aanvraag te huur</u> voor eigen gebruik of zwemlessen. </p>

<p class="mat-subheading-2"><b>Sporthal</b>
<br>Centraal op het terrein ligt een ruime sporthal met beschikbaarheid tot klein en groot sport- en spelmateriaal. De zaal is opgesplitst in twee delen. Een deel voor losse beweegactiviteiten en een deel met belevingsgerichte activiteiten zoals een springkussen, schommel en zachte matten. Waar alle cliënten wekelijks passende beweegactiviteiten krijgen aangeboden. 
<br>Tevens is de sporthal op <u>aanvraag te huur</u> voor feesten en/of sportgroepjes.</p>

<p class="mat-subheading-2"><b>Fitness</b>
<br> Er is een fitnessruimte met apparatuur voor mensen met en zonder beperking. Samen met de fysiotherapie wordt deze ruimte gebruikt voor het verbeteren van conditie, spieropbouw, balans en gedrag.
<br>Daarnaast vindt Siza het belangrijk dat de medewerkers gezond zijn en lekker in hun vel zitten. Daarom is er de mogelijkheid om kosteloos met een persoonlijk opgesteld trainingsschema te komen fitnessen. 
<br>Tevens is de fitness op <u>aanvraag te huur</u> voor eigen gebruik of sportgroepjes.</p>

<p class="mat-subheading-2"><b>Beweegtuin</b>
<br>Buiten bewegen, wat is nou lekker als dat?! In de beweegtuin kan iedereen die wil een balletje trappen op het sportveld, klimmen en klauteren in de speeltoestellen of de wilde wegen ervaren in de rolstoel. </p>

<p class="mat-subheading-2"><b>Technologie</b>
<br>Als afdeling beweging zijn wij volop bezig om met behulp van technologie cliënten uit te dagen meer te gaan bewegen.  Zo worden op dit gebied al de volgende mogelijkheden ingezet om iedereen in beweging te krijgen.</p>

<p class="mat-subheading-2"><b>Het fietslabyrint </b>
<br>Een ontspannen fietstocht door uw woonplaats, op fietssafari tussen de wilde dieren, herinneringen ophalen in uw geboortedorp, of een stedentrip naar Rome, New York of Parijs: met het Fietslabyrint is de wereld voor iedereen te zien!</p>

<p class="mat-subheading-2"><b>VR- Bril</b>
<br>Het leven onder water bekijken zonder nat te worden? Dit is mogelijk met de VR-Bril. Met de VR-Bril kom je in een totaal andere wereld terecht terwijl je gewoon op je stoel zit. Verder staan er op de VR-Bril een heleboel leuke spelletjes die gespeeld kunnen worden.</p>

<p class="mat-subheading-2"><b>De Tovertafel</b>
<br>Lekker actief heen en weer rennen terwijl je mollen vangt, bewegend memory spelen of beestjes zoeken tussen de blaadjes. Met de interactieve lichtprojecties van de tovertafel in beweging worden gekomen en plezier gemaakt. </p>

</div>
</div>