<h1>Wie zijn wij?</h1>
<p class="content">Wij zijn het beweegteam van Siza 's Koonings Jaght.
   Ons team bestaat uit bewegingsagogen en stagiaires.
   Samen bieden wij een uitgebreid beweegaanbod, waarbij we uitvoeren, behandelen, onderzoeken en ontwikkelen.
</p>
<h2>Wat bieden wij?</h2>
<p class ="content">Bewegingsrecreatie: Plezier en ontspanning staan hier centraal. </p>
<p class ="content">Bewegingsactivering: Het ervaren van bewegen staat centraal, het gaat hierbij om ontwikkeling te bewerkstelligen en om achteruitgang van het bewegen tegen te gaan.</p>
<p class ="content">Bewegingsonderwijs: Hierbij staat het proces waarbij het uiteindelijke doel bereikt wordt centraal, (veelal) individueel gericht. </p>
<p class ="content">Gedragsregulatie: Het komen tot gedragsverandering staat hierin centraal, d.mv. bewegen het gedrag beïnvloeden. Individueel en op aanvraag van arts of gedragsdeskundige. Apart of hoort dit bij gedragsregulatie.</p>
<h2>Voorzieningen</h2>

