.login-card
{
    width: 30%;
}

.form-control-max-width{
    width: 100%;
}

.control-expand
{
    width: 80%;
}

.control-margin
{
    margin-left: 50px;
}

.div-spacing
{
    margin-top: 200px;
}

.btn-bottom
{
    position: absolute;
    bottom: 0;
    padding-top: 200px;
    padding-bottom: 20px;
    width: 100%;
}

.btn-primary-size{
    width: 100%;
    height: 40px;
}

.btn-accent-size{
    width: 60%;
    height: 40px;
    margin-left: -20px;
}


.hline {
    border: 1px solid #EEE;
    color: #666;
    font-family: helvetica;
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 1px;
    line-height: 0px;
    text-align: center;
    text-transform: uppercase;
  }

  .divider
  {
      margin-top: 90px;
  }
  
  .hline > span {
    background-color: #FFF;
      padding: 0px 1em;
  }