<nav class="navbar navbar-expand-md navbar-light bg-light  fixed-top">
  <div class="container">
    <a
      class="navbar-brand"
      routerLink="/"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
      >{{ title }}</a
    >
    <button
      class="navbar-toggler hidden-sm-up"
      type="button"
      (click)="isNavbarCollapsed = !isNavbarCollapsed"
      data-target="#navbarsDefault"
      aria-controls="navbarsDefault"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" [routerLinkActive]="['active']">Home</a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="sizasports"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            aria-disabled="true"
            >SizaSports</a
          >
      </ul>

      <div ngbDropdown class="d-inline-block" *ngIf="isAuthenticated">
        <button class="btn btn-outline-primary btn-nav" id="dropdownBasic1" ngbDropdownToggle>Account</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <!-- <button ngbDropdownItem routerLink="settings">Settings</button>
          <hr /> -->
          <button *ngIf="isAdmin" ngbDropdownItem  routerLink="admin">Administrator</button>
          <button ngbDropdownItem (click)="onLogout()">Logout</button>
        </div>
      </div>

      <ul class="navbar-nav" *ngIf="!isAuthenticated">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="auth"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="auth/signup"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Aanmelden</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>