.navbar
{
    position: relative !important;
}

/* Navbar button style */
.btn-nav {
    color: #cf3e8c !important;
    border-color: #cf3e8c;
  }
  
  .btn-nav:hover {
    color: white !important;
    border-color: #cf3e8c;
    background-color: #cf3e8c;
  }
  
  .btn-nav:focus {
    box-shadow: 0 0 0 0.2rem rgba(135, 0, 255, 0.5);
  }
  
  .btn-nav:active {
    color: #fff !important;
    background-color: #cf3e8c !important;
  }
  
  .show > .btn-outline-primary.dropdown-toggle {
    color: #fff !important;
    background-color: #cf3e8c !important;
    border-color: #cf3e8c !important;
  }
  