.small-card
{
    width: 250px;
    display: inline-block;
    height: 250px;
    margin: 20px;
    border: 5px solid #FFB000
}

.img-small-card
{
    width: 100%;
    /* height: 100px; */
}

.small-card-header
{
    text-align: center;
}