<form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" >       
    <div class="row">
        <div class="col">
            <button mat-button (click)="onGoBack()">
                <mat-icon>keyboard_arrow_left</mat-icon>
                Terug
            </button> 
        </div>
        
        <div class="col text-right">
            <button class="btn-primary-size" mat-raised-button color="primary" type="submit"[disabled]="!authForm.valid"><mat-icon>send</mat-icon> Stuur Suggestie </button>
                
        </div>
        
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <h1 class="mat-title">Gebruiker</h1>
        </div>
        <div class="row">
            <h1 class="mat-subheading-2">//TODO: Show Current Users Email</h1>
        </div>
        <div class="row">
            <h1 class="mat-title">Bericht</h1>
        </div>
        <div class="row">
            <mat-form-field class="example-full-width">
                <input ngModel matInput type="message" id="message" name="message" class="form-control-max-width" placeholder="Bericht" value="" minlength="6">
            </mat-form-field>
        </div>
        <div class="row">
            <h1 class="mat-title">Voorbeeld</h1>
        </div>
        
        <div class="row">
            <div class="col-xl">
                <mat-form-field class="example-full-width">
                    <input ngModel matInput type="title" id="title" name="title" class="form-control-max-width" placeholder="Titel" value="" minlength="4">
                </mat-form-field>
            </div>
        </div>
       
 
        <div class="row">
            <div class="col-xl">
            <mat-form-field class="example-full-width">
                <input ngModel matInput type="goal" id="goal" name="goal" class="form-control-max-width" placeholder="Doel" value="" minlength="6">
            </mat-form-field>
        </div>
        <div class="col-xl">
            <mat-form-field class="example-full-width">
                <input ngModel matInput type="material" id="material" name="material" class="form-control-max-width" placeholder="Materiaal" value="" minlength="6">
            </mat-form-field>
            </div>
            <div class="col-xl">
            <mat-form-field class="example-full-width">
                <input ngModel matInput type="activity" id="activity" name="activity" class="form-control-max-width" placeholder="Activiteit" value="" required minlength="6">
            </mat-form-field>
            </div>
            <div class="col-xl">
            <mat-form-field class="example-full-width">
                <input ngModel matInput type="tooHard" id="tooHard" name="tooHard" class="form-control-max-width" placeholder="Te Moeilijk" value="" minlength="6">
            </mat-form-field> 
            </div>
        </div>
    
        <div class="row">
            <div class="col-xl">
            <mat-form-field class="example-full-width">
                <input ngModel matInput type="tooEasy" id="tooEasy" name="tooEasy" class="form-control-max-width" placeholder="Te Makkelijk" value="" minlength="6">
            </mat-form-field>
            </div>
            <div class="col-xl">
            <mat-form-field class="example-full-width">
                <input ngModel matInput type="setUp" id="setUp" name="setUp" class="form-control-max-width" placeholder="Opstelling" value="" minlength="6">
            </mat-form-field>
            </div>
            <div class="col-xl">
                <mat-form-field class="example-full-width">
                    <input ngModel matInput type="number" id="duration" name="duration" class="form-control-max-width" min="1" placeholder="Tijdsduur in minuten" value="" [formControl]="numberFormControl">
                </mat-form-field>
            </div>
            <div class="col-xl">
                <mat-form-field class="example-full-width">
                    <input ngModel matInput type='number' id="amountOfPeople" name="amountOfPeople" class="form-control-max-width" min="1" placeholder="Aantal Mensen" value="">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-xl">
            <mat-form-field class="example-full-width">
                <input ngModel matInput type="bool" id="wheelchair" name="wheelchair" class="form-control-max-width" placeholder="Rolstoel" value="" minlength="6">
            </mat-form-field>
            </div>
            <div class="col-xl">
            <mat-form-field class="example-full-width">
                <input ngModel matInput type="setUp" id="setUp" name="setUp" class="form-control-max-width" placeholder="Aandachtspunten" value="" minlength="6">
            </mat-form-field>
            </div>
            <div class="col-xl">
                
            </div>
            <div class="col-xl">
               
            </div>
        </div>

    </div>
</form>

