
.header {
    bottom: 0px;
    background-image: url('/assets/images/Header Masker.png');
    text-align: center;
    width: 100%;
    height: 600px;
    position: absolute; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.header-image {
    background-image: url('/assets/images/Chantal.jpg');
    text-align: center;
    width: 100%;
    height: 500px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% ;
    color: white;
    background-size: cover;
}

.img-about{
    background-image: url('/assets/images/Esmee.jpg') !important;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.img-baf
{
    background-image: url('/assets/images/Daniel.jpg') !important;
}

.img-beweegposter
{
    background-image: url('/assets/images/Thom.jpg') !important;
}