
<div class="row">
    <div class="col">
        <button mat-button (click)="onGoBack()">
            <mat-icon>keyboard_arrow_left</mat-icon>
            Terug
        </button> 
    </div>
    
    <div class="col text-right">
        <button mat-button (click)="onClickCreateSuggestion()"> 
            <mat-icon>create</mat-icon>
            Maak een bewegingskaart van suggestie
        </button> 
        <a mat-button href="mailto:{{usersEmail}}?Subject=Siza - Suggestie - {{suggestion?.activity.title}}&body=" target="_top"> 
         <mat-icon>create</mat-icon>
         Antwoord op suggestie
        </a>
    </div>
    
</div>
<hr>

<div class="container">
    <div class="row">
        <h1 class="mat-title">Gebruiker</h1>
    </div>
    <div class="row">
        <h1 class="mat-subheading-2">{{usersEmail}}</h1>
    </div>
    <div class="row">
        <h1 class="mat-title">Bericht</h1>
    </div>
    <div class="row">
        <h1 class="mat-subheading-2">{{suggestion?.message}}</h1>
    </div>
    <div class="row">
        <h1 class="mat-title">Voorbeeld</h1>
    </div>
    <div class="row">
        <div class="col-xl">
            <h1 class="mat-body-1">Titel</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xl">
            <h1 class="mat-subheading-2">{{suggestion?.activity.title}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xl">
            <h1 class="mat-body-1">Doel</h1>
        </div>
        <div class="col-xl">
            <h1 class="mat-body-1">Materiaal</h1>
        </div> 
        <div class="col-xl">
            <h1 class="mat-body-1">Activiteit</h1>
        </div> 
        <div class="col-xl">
            <h1 class="mat-body-1">Opstelling</h1>
        </div> 
    </div>
    
    <div class="row">
        <div class="col-xl">
            <h1 class="mat-subheading-2">{{suggestion?.activity?.goal}}</h1>
        </div>
        <div class="col-xl">
            <h1 class="mat-subheading-2">{{suggestion?.activity?.material}}</h1>
        </div> 
        <div class="col-xl">
            <h1 class="mat-subheading-2">{{suggestion?.activity?.activity}}</h1>
        </div> 
        <div class="col-xl">
            <h1 class="mat-subheading-2">{{suggestion?.activity?.setUp}}</h1>
        </div> 
    </div>

    <div class="row">
        <div class="col-xl">
            <h1 class="mat-body-1">Te Makkelijk</h1>
        </div>
        <div class="col-xl">
            <h1 class="mat-body-1">Te Moeilijk</h1>
        </div> 
        <div class="col-xl">
            <h1 class="mat-body-1">Tijdsduur</h1>
        </div> 
        <div class="col-xl">
            <h1 class="mat-body-1">Aantal Personen</h1>
        </div> 
    </div>

    <div class="row">
        <div class="col-xl">
            <h1 class="mat-subheading-2">{{suggestion?.activity.tooEasy}}</h1>
        </div>
        <div class="col-xl">
            <h1 class="mat-subheading-2">{{suggestion?.activity.tooHard}}</h1>
        </div> 
        <div class="col-xl">
            <h1 class="mat-subheading-2">{{suggestion?.activity.duration}}</h1>
        </div> 
        <div class="col-xl">
            <h1 class="mat-subheading-2">{{suggestion?.activity.amountOfPeople}}</h1>
        </div> 
    </div>

    <div class="row">
        <div class="col-xl">
            <h1 class="mat-body-1">Aandachtspunten</h1>
        </div>
        <div class="col-xl">
            <h1 class="mat-body-1">Rolstoel Vriendelijk</h1>
        </div> 
        <div class="col-xl">
            <h1 class="mat-body-1"></h1>
        </div> 
        <div class="col-xl">
            <h1 class="mat-body-1"></h1>
        </div> 
    </div>

    <div class="row">
        <div class="col-xl">
            <h1 class="mat-subheading-2">{{suggestion?.activity.pointsForAttention}}</h1>
        </div> 
        <div class="col-xl">
            <mat-checkbox  [(ngModel)]="suggestion?.activity.wheelchair"></mat-checkbox>
           
           
        </div>
        <div class="col-xl">
            <h1 class="mat-subheading-2"></h1>
        </div> 
        <div class="col-xl">
            <h1 class="mat-subheading-2"></h1>
        </div> 
    </div>
  </div>
