<app-banner [title]="title" [page]="page"></app-banner>
<div class="wrapper_outer">
<div class="container">
    <br>
    <h1 class="mat-heading small-header">Beweegposter</h1>
    <br>  
        <p class="mat-subheading-2 font-bolder">
            De methoden dromen- ontdekken- doen van het Kennisplein Gehandicaptenzorg is een van de onderdelen die binnen de BAF wordt ingezet. Om jou als begeleider te helpen mensen met een verstandelijke beperking in het dagelijks leven meer in beweging te krijgen. Het geeft handvatten hoe je bewegen meer onderdeel maakt van het dagelijks leven van je cliënt. Samen doorloop je met je cliënt daarbij de fases: dromen, ontdekken en doen. 
        </p>
    <br>
        <h1 class="mat-title">Aan de slag!</h1>
    
        <p class="mat-subheading-2">Aan de hand van de stappen uit deze methode ga je met behulp van een beweegposter en weekplanner in gesprek over wat je cliënt al doet aan beweging én graag wil doen om meer te bewegen. De handreiking beschrijft hoe je als begeleider aan de slag kunt gaan met de beweegposter en weekplanner
            Handreiking
            Voor begeleiders zijn er twee handreikingen één voor zorginstellingen ↗ en één voor ambulante begeleiding ↗. De handreikingen beschrijven hoe je als begeleider aan de slag kunt gaan met de beweegposter en de weekplanner. 
            Beweegposter
            Met de beweegposter↗ kun je de dromen van cliënt achterhalen. Je geeft antwoord op de vraag: Hoeveel zou je cliënt graag willen bewegen en wat kan hij/zij allemaal doen om te bewegen? De poster↗ bestaat uit twee kanten. De linkerkant gaat over de dingen die je cliënten nu al doen aan beweging in het dagelijks leven. Aan de rechterkant komen dingen te staan die je cliënten zouden kunnen en willen doen om meer te bewegen in het dagelijks leven.
            </p>

        <h1 class="mat-title">Handreiking</h1>
        <p>Voor begeleiders zijn er twee handreikingen één voor zorginstellingen ↗ en één voor ambulante begeleiding ↗. De handreikingen beschrijven hoe je als begeleider aan de slag kunt gaan met de beweegposter en de weekplanner. </p>
        
        <div class="row">
            <div class="col-xl">
                <h1 class="mat-title ">Beweegposter</h1>
                <p class="mat-subheading-2">Met de beweegposter↗ kun je de dromen van cliënt achterhalen. Je geeft antwoord op de vraag: Hoeveel zou je cliënt graag willen bewegen en wat kan hij/zij allemaal doen om te bewegen? De poster↗ bestaat uit twee kanten. De linkerkant gaat over de dingen die je cliënten nu al doen aan beweging in het dagelijks leven. Aan de rechterkant komen dingen te staan die je cliënten zouden kunnen en willen doen om meer te bewegen in het dagelijks leven.</p>
            </div>
            <div class="col-xl">
                <img class="center-image" src="../../src/assets/images/beweegposter.jpg">
            </div> 
        </div>


        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-xl">
                <h1 class="mat-title">Weekplanner</h1>
                <p class="mat-subheading-2">Na het invullen van de beweegposter↗ kun je daadwerkelijk aan de slag. Het echte doen moet natuurlijk nog gebeuren. De weekplanner↗ en het bijbehorende uitknipvel kunnen daarbij helpen.
                    <br> Met de hulpmiddelen rechts ga je van bewust worden naar actie. Door te plannen wanneer je cliënt meer wilt bewegen en te kijken of het ook lukt. Luister daarbij naar je cliënt en probeer niet teveel te sturen; het gaat om wat hij/zij graag wil en kan. De handreiking biedt een uitgebreid stappenplan de beweegposter en weekplanning goed te gebruiken. </p>
                
            </div>
            <div class="col-xl">
                <img class="center-image" src="../../src/assets/images/weekplanner.jpg">
            </div> 
        </div>
        
        
        
        <br><br>
        <h1 class="mat-title"> Laat je inspireren!</h1>
        <div class="row">
            <div class="col-xl">
                <p>Bewegen gaat ook over plezier maken. Bekijk een filmpje over de methode en laat je inspireren!</p>
            </div>
            <div class="col-xl">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/6hbl03YDwNs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div> 
        </div>
        
        
        <br>
        <h1 class="mat-caption">Bron: Kennisplein Gehandicaptensector, Meer bewegen: Dromen, ontdekken en doen!</h1>
    </div>
</div>