app-sidenav { display: flex; }
.mat-drawer-container {

    min-height: 500px; 
    /* position: absolute; */
    z-index: 1;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    display: block;
    overflow: hidden;
    background: white;
}