<div class="content_wrapper">
<h1>Baf training</h1>
<p class="content">Bewegen is belangrijk voor ieder mens, dus ook voor mensen met een verstandelijke beperking. Door te bewegen komt de mens in contact met zijn omgeving. Bewegen is noodzakelijk om de wereld te leren kennen en begrijpen. Bewegen geeft energie, het is goed voor de geest, zorgt voor het behouden/ ontwikkelen van motorische vaardigheden, het is gezond. Bewegen draagt bij aan gedragsverandering!</p>
<p class="content">Onder mensen met een beperking heeft helaas niet iedereen zelf de keus te kunnen bewegen. Vanwege de nodige zorg of afhankelijkheid van de belangrijke andere persoon hierbij. Echter blijkt dat dit er vaak bij in te schiet vanwege bv. andere werkzaamheden, onwetendheid qua beweegactiviteiten of aanpak hierin. Wat resulteert in een gebrek aan voldoende beweging met de nodige ernstige gezondheidsrisico's </p>
<p class="content">Siza heeft hiervoor een interventie ontworpen die gericht is op het opleiden van een begeleider tot een beweegaandacht functionaris (BAF). In deze training wordt een begeleider opgeleid tot een BAF en krijgt vervolgens de taak om andere begeleiders van de woning en/ of dagbesteding te enthousiasmeren en motiveren om beweging te stimuleren in het dagelijks leven. </p>
<p class="emphasis">Wat is de rol van een BAF?</p>
<p class="content">Een beweeg- aandachtfunctionaris (BAF) is binnen een locatie of dienst de informatiebron voor medewerkers voor het thema beweging voor cliënten. Fungeert als schakel tussen cliënten, begeleiders en afdeling beweging. Hij heeft een coachend, organiserend en adviserende rol. </p>
<p class="content">Vanuit de afdeling beweging is er een coördinator BAF die verantwoordelijk is voor de (bij)scholing, beweegaanbod en beschikbaar is voor vragen. Hij kan onderdelen adviseren aan de beweeg- aandachtfunctionaris. Op deze manier kan de BAF ondersteunen bij de uitvoering van de beweegnormen/ beweegaanbod en draagt hij in belangrijke mate bij aan het vormgeven van de gezondheid onder cliënten binnen het thema beweging op de locatie of dienst.  </p>
<p class="content">De BAF kan voor inhoudelijke ondersteuning terugvallen op de Baf coördinator. Aan de rol van BAF kan geen hiërarchische status ontleend worden. Wel kan hij functionele aanwijzingen geven</p>
<p class="content">De training is bedoeld voor begeleiders die affiniteit hebben met beweging. Begeleiders kunnen na de training als BAF worden aangesteld door de coördinator vanuit de afdeling beweging en hebben dan de sport- en beweegaangelegenheden als algemeen aandachtsgebied in hun pakket. </p>
<p class="content">De deelnemer beschikt over en versterkt de volgende competenties:</p>
<ul class="content">
    <li>
        <span>Organiseren: het in staat zijn om bewegen op de groep te regelen en juiste voorwaarden te creëren. </span>
    </li>
    <li>
        <span>Samenwerken: het in staat zijn om als schakel te fungeren tussen de verschillende disciplines. </span>
    </li>
    <li>
        <span>Innovatie: het durven kijken naar en signaleren van nieuwe kansen en ontwikkelpunten.</span>
    </li>
    <li>
        <span>Coachen: het stimuleren van anderen bij de ontwikkeling van hun kennis, competenties en talenten. De stijl van coachen wordt daarbij aangepast aan de ander en situatie. </span>
    </li>
</ul>
<p class="content">Tijdens deze training komt aan bod:</p>
<ul class="content">
<li>
    <span>Beweegnormen en het belang van bewegen bij de doelgroep</span>
</li>
<li>
    <span>Enkele beweeginterventies en hoe deze in te zetten</span>
</li>
<li>
    <span>Bewegen met cliënten, makkelijker dan je denkt</span>
</li>
<li>
    <span>Differentiaties op huidige beweegaanbod en nieuwe beweegideeën</span>
</li>
<li>
    <span>Coachen en begeleiden van collega’s op het gebied van bewegen </span>
</li>
</ul>
<p class="emphasis">Leerdoelen tijdens de training </p>
<p class="content">De deelnemer leert in de training:</p>
<ul class="content">
    <li>
        <span>Het huidige beweegaanbod op de werkplek te toetsen met behulp van beweegnormen en na te gaan of dit voldoende aandacht krijgt.</span>
    </li>
    <li>
        <span>Op de werkplek een sfeer van aandacht voor beweging en invloed daarvan op de gezondheid van cliënten te creëren.</span>
    </li>
    <li>
        <span>Beweegideeën en interventies aan te dragen en realiseren op de werkplek. </span>
    </li>
    <li>
        <span>Collega’s in de praktijk te coachen en motiveren op het gebied van beweging met cliënten.</span>
    </li>
</ul>
<p class="emphasis">Verplichte vooropleiding</p>
<p>Er zijn geen Pre- vereiste</p>
<p class="emphasis">Studieregeling</p>
<p>De BAF training bestaat uit 3 workshops van 2 uur, waarin de volgende onderwerpen aanbod komen:</p>
<ol class="content">
    <li>
        <span>Kennis en organiseren</span>
    </li>
    <li>
        <span>Innoveren, begeleiden & coachen</span>
    </li>
    <li>
        <span>Begeleiden & coachen en terugblik</span>
    </li>
</ol>
<p class="content">Om het bewijs van deelname van de BAF te behalen dien je alle 3 de workshops te volgen.</p>
<p class="content">Daarna wordt de BAF elk halfjaar uitgenodigd voor een intervisiebijeenkomst met andere beweeg- aandachtfunctionarissen en een bezoek van de BAF coördinator op locatie of tijdens een dienst.</p>
<p class="emphasis">Voorwerk</p>
<p class="content">Er is geen voorwerk vereist voor deze opleiding</p>
<p class="emphasis">Nawerk</p>
<p class="content">Eenmaal per half jaar worden opgeleide beweeg- aandachtfunctionarissen uitgenodigd voor een gezamenlijke intervisie voor BAF medewerkers. Hierin worden ervaringen gedeeld en komen huidige ontwikkelingen aanbod. Daarnaast zal de BAF coördinator eenmaal per half jaar een bezoek op locatie of dienst afleggen. Om in de praktijk mee te kijken en gerichte adviezen te kunnen geven.</p>
<p class="emphasis">Voor meer informatie of aanmelden voor de training klik hier om het contactformulier in te vullen</p>
</div>

