.small-card
{
    width: 250px;
    display: inline-block !important;
    height: 250px;
    margin: 20px;
    border: 5px solid #7DD5F0;
    background-color: #7DD5F0;
    /* background: #e5d919; */
    color: black;
    cursor: pointer;
    box-shadow: none !important;
}

html {
    height: 100%;
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    position: relative;
    margin: 0;
    padding-bottom: 610px;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
  }
.small-card:hover{
    box-shadow: 0 4px 10px -6px rgba(0,0,0,.5), 0 1px 5px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12) !important;
}

.small-card-header > a:link, a:visited{
    color: white;
    /* font-weight: 300; */
    /* font-size: 1.2em; */
}

.small-activity-card
{
    width: 250px;
    display: inline-block !important;
    height: 250px;
    box-shadow: none !important ;
    margin: 20px;
    border: 5px solid #ce2ea8;
    cursor: pointer;
}

.small-activity-card:hover{
    box-shadow: 0 4px 10px -6px rgba(0,0,0,.5), 0 1px 5px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12) !important;
}
.img-small-card
{
    width: 100%;
    /* height: 100px; */
}

.small-card-header
{
    text-align: center;
}

.empty-message
{
    padding: 10px;
    border: 10px solid #ffffff00 !important;
    border-radius: 5px;
    border: 5px solid #8784d2 !important;
    color: #5e5e5e !important;
    margin-bottom: 30px;
    margin-top: 20px;
}

.p-line-height
{
    line-height: 3;
}

.content{
    width: 750px;
    margin-right: auto;
}

.emphasis{
    width: 750px;
    font-weight: bold;
}

.content_wrapper {
    max-width: 750px;
    width: relative;
    position: relative;
    padding-left: 50px 0;
    padding-right: 50px 0;
    z-index: 10;
}

.navbarprops{
    background-color: #0f3f91;
    color: white;
}

 h1 {
    font-size: 30px !important;

.tree-group
{
    background-color: white;
    margin: 10px;
}

.tree-item{
    background-color: white;
    border-radius: 10px;
}

.tree-title{
    background-color: white;
}