.small-card
{
    width: 250px;
    display: inline-block !important;
    height: 250px;
    margin: 20px;
    /* border: 5px solid #d2e54d; */
    background: #e5d919;
    color: black;
    cursor: pointer;
}

.small-card-header > a:link, a:visited{
    color: black;
    /* font-weight: 300; */
    /* font-size: 1.2em; */
}

.small-activity-card
{
    width: 250px;
    display: inline-block !important;
    height: 250px;
    margin: 20px;
    /* border: 5px solid #ce2ea8; */
    background: #ce2ea8;
    cursor: pointer;
}

.img-small-card
{
    width: 100%;
    /* height: 100px; */
}

.small-card-header
{
    text-align: center;
}

.empty-message
{
    padding: 10px;
    border: 10px solid #ffffff00 !important;
    border-radius: 5px;
    background: #8784d2 !important;
    color: #ffffff !important;
    margin-bottom: 30px;
    margin-top: 20px;
}