<mat-card  class="card-container">
    <mat-card-content>
        <div class="container">
            <div class="row">
              <div class="col-sm">
                <h1 class="mat-body-2">{{comment?.usersEmail}}</h1>
                </div>
                <div class="col-sm">
                </div>
                <div class="col-sm">
                </div>
            </div>
            <div class="row"></div>
            <div class="col-sm">
                <h1 class="mat-body-2">{{comment?.feedback.message}}</h1>
            </div>
          </div>   
    </mat-card-content>
</mat-card>

