<app-banner></app-banner>
<div class="container">
<h1 class="mat-header" >Welkom op onze website!</h1>


<hr>
<p class="mat-subheading-2">
    <b>Leven is bewegen,</b> bewegen is belangrijk voor ieder mens, dus ook voor mensen met een verstandelijke beperking.
    Door te bewegen komt de mens in contact met zijn omgeving.
    Bewegen is dus noodzakelijk om de wereld te leren kennen en begrijpen.
    Bewegen geeft energie, het is goed voor de geest, zorgt voor het behouden/ ontwikkelen van motorische vaardigheden, het is gezond.
    Bewegen draagt bij aan gedragsverandering! 
</p>
<p class="mat-subheading-1">
    Landelijk komt 80,2% van de mensen met een verstandelijke beperking niet aan de norm voor gezond bewegen.
    Mensen met een verstandelijke beperking worden lichamelijk eerder oud.
    43% van de mannen en 46% van de vrouwen met een verstandelijke beperking kampen met overgewicht.
    Naast Fysiologisch zijn er ook psychische en sociale effecten na bewegen zoals gedragsregulatie.
</p>

</div>
